/* Garantindo que a página ocupe a altura total da tela */
.app {
  display: flex;
  height: 100vh;
  flex-direction: row;
}

/* Container de conteúdo para a parte direita da tela */
.content-area {
  display: flex;
  flex-direction: column;
  width: calc(100% - 220px); /* O conteúdo vai ocupar o espaço à direita do sidebar */
  margin-left: 700px;  /* Distância do Sidebar */
  padding: 20px;
}

/* Estilo para o Mapa */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}


/* Adiciona um espaçamento entre o Header e o Mapa */
.map-container-spacer {
  height: 30px; /* Ajuste conforme necessário */
}

/* Sidebar fixado à esquerda */
.sidebar {
  width: 220px;
  background-color: #333;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  color: white;
}

/* Ajuste no Mapa para largura e altura adequadas */
.map-container {
  width: 100%;
  height: 500px; /* Defina a altura do mapa */
}

/* Header e Footer com estilo simples */
header, footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
}

footer {
  margin-top: 20px;
}
